<nz-layout>
  <nz-layout>
    <!--头部区域-->
      <nz-header class="deHeader">
          <nz-tabset>
              <nz-tab nzTitle="警情详情">
                <p>报警人: {{incidentData?.alarmName}}</p>
                <p>报警电话: {{incidentData?.phoneNumber}}</p>
                <p>事发时间：{{incidentData?.incidentTime}}</p>
                <p>事发地址：{{incidentData?.address}}</p>
                <p>警情描述:{{incidentData?.description}}</p>
              </nz-tab>
            </nz-tabset>
      </nz-header>
      <!--中间区域-->
      <nz-content class="deContent">
          <nz-tabset>
              <nz-tab nzTitle="处置记录">
                  <nz-table #basicTable [nzData]="dataSetjilu" nzShowPagination="true" [nzPageSize]="1">
                      <thead>
                        <tr>
                          <th>处置人</th>
                          <th>处置时间</th>
                          <th>处置内容</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let data of basicTable.data">
                          <td>{{data.name}}</td>
                          <td>{{data.time}}</td>
                          <td>{{data.content}}</td>
                        </tr>
                      </tbody>
                    </nz-table>
              </nz-tab>
              <nz-tab nzTitle="调派资源">
                  <nz-table #recordsBasicTable [nzData]="dispatchRecordsPeople" nzShowPagination="false">
                      <thead>
                        <tr>
                          <th>资源名称</th>
                          <th>处置时间</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let records of recordsBasicTable.data">
                          <td>{{records.resourcesName}}</td>
                          <td>{{records.resourcesTime}}</td>
                        </tr>
                      </tbody>
                    </nz-table>
                </nz-tab>
              </nz-tabset>
      </nz-content>
      <!--底部区域-->
      <nz-footer class="deFooter"> 
          <button nz-button class="fanhui-button" [nzType]="'primary'" (click)="returnList()">返回警情列表</button>
          <a>  |  </a>
          <button nz-button class="fanhui-button" [nzType]="'primary'" (click)="showModal()" >调派资源</button>
          <a>  |  </a>
          <button nz-button class="fanhui-button" [nzType]="'primary'" nz-popconfirm nzTitle="是否需要结束当前警情？" (nzOnConfirm)="endIncident()" nzPlacement="top">结束警情</button>
      </nz-footer>
    </nz-layout>
     <!-- 时间轴区域-->
     <nz-sider class="deSider">
      <nz-timeline class="timeline">
        <nz-timeline-item nzColor="green">警情分给李明 2018-06-26</nz-timeline-item>
        <nz-timeline-item nzColor="green">警情开始处理 2018-06-26 </nz-timeline-item>
        <nz-timeline-item nzColor="red">
          <p>李明调派了警车 2018-06-26</p>
          <p>李明添加了一条处置记录：</p>
          <p>资源已到达现场 2018-06-26</p>
        </nz-timeline-item>
        <nz-timeline-item>
          <p>李明调派了警车 2018-06-26</p>
          <p>李明添加了一条处置记录：</p>
          <p>资源已到达现场 2018-06-26</p>
        </nz-timeline-item>
      </nz-timeline>
      </nz-sider>
  </nz-layout>

    <!--调派资源对话框-->
    <nz-modal [(nzVisible)]="resourcesModIsVisible" nzTitle="资源人列表" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
        <nz-checkbox-group [(ngModel)]="resourcesPeopleData" (ngModelChange)="log(resourcesPeopleData)" ></nz-checkbox-group>
    </nz-modal>